<section class="content-header">
    <div class="pull-right">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Table Basic</li>
        </ol>
    </div>
</section>
<section class="main-content" ng-controller="ListPostController">
    <div class="row">
        <div class="col-md-12">
           <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong class="text-uppercase text-info">List Posts</strong></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered mbn">
                        <thead>
                            <tr>
                                <th><input type="checkbox" class="checkall"/></th>
                                <th>Name</th>
                                <th>Revenue</th>
                                <th>Spark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="post in posts">
                                <td style="width: 30px;"><input type="checkbox"/></td>
                                <td><a ui-sref="detail({id: post._id})" ng-bind="post._id"></a></td>
                                <td><a ui-sref="detail({id: post._id})" ng-bind="post.title"></a></td>
                                <td>
                                  fsdfsdf
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


