<section class="content-header">
    <h1 class="pull-left">Table Basic<small>Header small text goes here...</small></h1>
    <div class="pull-right">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Table Basic</li>
        </ol>
    </div>
</section>
<section class="main-content">
    <div class="row">
        <div class="col-md-12">
           <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong class="text-uppercase text-info">List Posts</strong></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered mbn">
                        <thead>
                            <tr>
                                <th><input type="checkbox" class="checkall"/></th>
                                <th>Name</th>
                                <th>Revenue</th>
                                <th>Spark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 30px;"><input type="checkbox"/></td>
                                <td>Phil Weinstein</td>
                                <td>$5545</td>
                                <td>
                                  fsdfsdf
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 30px;"><input type="checkbox"/></td>
                                <td>Toby Clapp
                                    &nbsp;<span class="label label-danger">alert!</span>
                                </td>
                                <td>$7760</td>
                                <td>
                                    sdfsdf
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 30px;"><label><input type="checkbox"/></label></td>
                                <td>Ashton Stevenson</td>
                                <td>$6786</td>
                                <td>
                                    sdfsdf
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


