<section class="content-header">
	<h1 class="pull-left">Form Layouts<small>Header small text goes here...</small></h1>
	<div class="pull-right">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Forms</a></li>
			<li class="active">Form Layouts</li>
		</ol>
	</div>
</section>
<section class="main-content">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title"><strong class="text-uppercase">Form actions</strong></h3>
					<div class="actions"><a href="javascript:;"><i class="ion-close"></i></a><a href="javascript:;"><i class="ion-chevron-down"></i></a></div>
				</div>
				<div class="panel-body form">
					<form action="#" class="form-horizontal" method="post">
						<div class="form-body">
							<div class="form-group">
								<label class="col-md-4 control-label">Username</label>
								<div class="col-md-8"><input type="text" placeholder="" class="form-control"/></div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Email Address</label>
								<div class="col-md-8"><input type="text" placeholder="" class="form-control"/></div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Password</label>
								<div class="col-md-8"><input type="password" placeholder="" class="form-control"/></div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Confirm Password</label>
								<div class="col-md-8"><input type="password" placeholder="" class="form-control"/></div>
							</div>
							<div class="form-group">
								<button type="submit" name="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>